<form class="{{cssClass}} flexcol" autocomplete="off">

    {{!-- Item Sheet Header --}}
    <header class="sheet-header flexrow">
        <img class="profile" src="{{item.img}}" title="{{item.name}}" data-edit="img"/>

        <div class="header-details flexrow">
            <h1 class="charname">
							{{item.name}}
            </h1>

            <div class="item-subtitle">
                <h4 class="item-type">{{itemType}}</h4>
                <span class="item-status">{{itemStatus}}</span>
            </div>

            <ul class="summary flexrow">
                <li>
									<select name="name" data-type="String" placeholder="{{DND5E.ClassName}}">
										{{#select item.name}}
										<option value="New Class">{{localize "DND5E.None"}}</option>
										{{#each config.classFeatures as |_ name|}}
											<option value="{{toFirstCap name}}">{{toFirstCap name}}</option>
										{{/each}}
										{{/select}}
									</select>
										<!-- REVIEW: is the source necessary? -->
                    <!-- <input type="text" name="data.source" value="{{data.source}}" placeholder="{{ localize 'DND5E.Source' }}"/> -->
								</li>

								{{!-- Subclass Name --}}
                <li>
									<!-- TODO: Make this prettier -->
									{{#if (getProperty config.classFeatures (toLowerCase item.name))}}
										<select name="data.subclass" data-type="String">
											<option value="" selected>{{localize "DND5E.None"}}</option>
											{{#select data.subclass}}
												{{#each (getProperty (getProperty config.classFeatures (toLowerCase item.name)) "subclasses")}}
													<option value="{{this.label}}">{{this.label}}</option>
												{{/each}}
											{{/select}}
										</select>
										{{else}}
										<input hidden type="text" name="data.subclass" value="{{data.subclass}}"/>
									{{/if}}
                </li>
            </ul>
        </div>
    </header>

    {{!-- Item Sheet Navigation --}}
    <nav class="sheet-navigation tabs" data-group="primary">
        <a class="item active" data-tab="description">{{ localize "DND5E.Description" }}</a>
        <a class="item" data-tab="details">{{ localize "DND5E.Details" }}</a>
    </nav>

    {{!-- Item Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        <div class="tab flexrow active" data-group="primary" data-tab="description">
            {{editor content=data.description.value target="data.description.value" button=true owner=owner editable=editable}}
        </div>

        {{!-- Details Tab --}}
        <div class="tab details" data-group="primary" data-tab="details">

            {{!-- Class Levels --}}
            <div class="form-group">
                <label>{{ localize "DND5E.ClassLevels" }}</label>
                <div id="level-modifier" class="form-fields">
										<button class="reset-level" title="Reset to level 1"><i class="fas fa-minus-circle"></i></button>
										<input type="text" disabled name="levels-ui" value="{{data.levels}}" data-dtype="Number" class="flex2"/>
										<input type="text" hidden name="data.levels" value="{{data.levels}}" data-dtype="Number"/>
										<button class="add-level flex2">Level up</button>
                </div>
            </div>

            {{!-- Class Hit Dice --}}
            <div class="form-group">
                <label>{{localize "DND5E.HitDice"}}</label>
                <div class="form-fields">
                    <select name="data.hitDice">
                        {{#select data.hitDice}}
                        {{#each config.hitDieTypes}}
                        <option value="{{this}}">{{this}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label>{{localize "DND5E.HitDiceUsed"}}</label>
                <div class="form-fields">
                    <input type="text" placeholder="0" name="data.hitDiceUsed" value="{{data.hitDiceUsed}}" data-dtype="Number"/>
                </div>
            </div>

            <div class="form-group">
                <label>{{localize 'DND5E.SpellProgression'}}</label>
                <div class="form-fields">
                    <select name="data.spellcasting">
                        {{#select data.spellcasting}}
                            {{#each config.spellProgression}}
                                <option value="{{@key}}">{{localize this}}</option>
                            {{/each}}
                        {{/select}}
                    </select>
                </div>
            </div>

            {{!-- Level 1 skills --}}
            <div class="form-group">
                <label>{{localize "DND5E.ClassSkillsNumber"}}</label>
                <div class="form-fields">
                    <input type="text" placeholder="0" name="data.skills.number" value="{{data.skills.number}}" data-dtype="Number"/>
                </div>
            </div>

            <div class="form-group">
                <label>
                    {{localize "DND5E.ClassSkillsChosen"}}
                    {{#if editable }}
                    <a class="trait-selector class-skills" data-edit="data.skills" data-options="skills">
                        <i class="fas fa-edit"></i></a>
                    {{/if}}
                </label>
                <div class="form-fields">
                    <ul class="traits-list">
                        {{#each data.skills.value}}
                            <li class="tag {{this}}">{{lookup ../config.skills this}}</li>
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
    </section>
</form>
